<div class="card" style="background-color:#011238;">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2">
                <img class="card-img-top"
                    src="https://cdn.discordapp.com/attachments/721454928832233514/721470898951028736/ScreenRecorderProject1.gif"
                    alt="Card image" style="width:100%;">
            </div>
            <img class="card-img-top" style="text-align: center;"
                src="https://firebasestorage.googleapis.com/v0/b/twork-8dd6d.appspot.com/o/Dashboard%2FScreenRecorderProject2.gif?alt=media&token=37f59c1f-8f78-462b-8a29-9f8e7fe660d7"
                alt="Card image" style="width: 65%;">
        </div>

     

        <br>
        <br>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="card">
                   <h5> <div class="card-header">{{title}} </div></h5>
                    <div class="card-body">
                        <img [src]="avatar" style="height:30px;">
                        <sub>  ผู้เขียน #{{name}}</sub>
                        <br><br>
                        <p class="card-text">{{text}}</p>
                       
                        
                       
                        <br>
                    <div *ngIf="status">
                        <i *ngIf="statusLike" (click)="like()" class="fa fa-thumbs-up " aria-hidden="true">ถูกใจ</i>
                        <i *ngIf="statusLike==false" class="fa fa-thumbs-up text-primary" aria-hidden="true">ถูกใจ</i>
                    </div>  
                        
                            
                    </div>
                </div>
            </div>
           
        </div>
        

<!-- ///////////////////////////////////////////////////////////////////////////////////// -->
        <br>
        <br>
        <div *ngIf="status" class="row">
            <div class="col-sm-2"></div>

            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">แสดงความคิดเห็น</div>
                    <div class="card-body">
                        <div >
                             <form [formGroup]="commentForms" >
                                
                                    
                                    <div class="col-md-2">
                                        ข้อความ
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <textarea  class="form-control" rows="5" id="comment" formControlName="text" ></textarea>
                                        </div>
                                    </div>
                            
                         
                           </form> 
                           <div class="col-md-5">
                            
                            <button type="button" class="btn btn-primary" (click)="addComment()">โพสต์</button>
                           </div>
                            
                          </div>
                    </div>
                </div>
            </div>
        </div>



        <br>
        <br>
        <div class="row">
            <div class="col-sm-2"></div>

            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">การแสดงความคิดเห็น</div>
                    <div class="card-body">
                         <app-comment></app-comment> 
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>