<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" 
    
    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf='status==false' class="row">
        <a routerLink="home" class="navbar-brand btn btn-dark">Home</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a routerLink="signin" routerLinkActive="active" class="btn btn-dark">Sign In</a>
            </li>
            <li class="nav-item">
              <a routerLink="signup" routerLinkActive="active" class="btn btn-dark">Sign Up</a>
            </li>
          </ul>
        </div>
    </div>
    <!-- 
        //////////////////
     -->
     <div *ngIf='status'class="row">
        <a routerLink="panlum" class="navbar-brand btn btn-dark">Panlum</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a routerLink="profile" routerLinkActive="active" class="btn btn-dark">Proflie</a>
            </li>
            <li class="nav-item">
              <a routerLink="home" routerLinkActive="active" class="btn btn-dark" (click)='logout()'>Log Out</a>
            </li>
          </ul>
        </div>
    </div>
    
  </nav>
  
  <div class="container-fluid" style="margin-top:10px">
    <router-outlet></router-outlet>
    
  </div>