<div class="card" style="background-color:#011238;">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2">
                <img class="card-img-top"
                    src="https://cdn.discordapp.com/attachments/721454928832233514/721470898951028736/ScreenRecorderProject1.gif"
                    alt="Card image" style="width:100%;">
            </div>
            <img class="card-img-top" style="text-align: center;"
                src="https://firebasestorage.googleapis.com/v0/b/twork-8dd6d.appspot.com/o/Dashboard%2FScreenRecorderProject2.gif?alt=media&token=37f59c1f-8f78-462b-8a29-9f8e7fe660d7"
                alt="Card image" style="width: 65%;">
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">ประเภทของห้อง</div>
                    <div class="card-body">
                        <app-type></app-type>
                    </div>
                </div>
            </div>

        </div>

        <br>
        <br>

        <div class="row">
            <div class="col-sm-2"></div>

            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">กระทู้ติดดาว</div>
                    <div class="card-body">
                        <app-top-thread></app-top-thread>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>